			<div id="comments">


{% load mt_tags %}
{% mt_comments as entry_comments %}
{% if entry_comments %}
				<div id="comments-list" class="comments">
					<h3><span>{{ entry.comment_count }}</span> Comment{{ entry.comment_count|pluralize }}</h3>

					<ol>
{% for comment in entry_comments %}
						<li id="comment-{{ comment.id }}" class="comment c{{ forloop.counter0 }} {{ comment.created_on|date:"\c\-\yY \c\-\mm \c\-\dd \c\-\hH" }} alt">
							<div class="comment-author vcard"><span class="fn n">{{ comment.author }}</span></div>
							<div class="comment-meta">Posted {{ comment.created_on|date:"F j\, Y" }} at  <span class="meta-sep">|</span> <a href="#comment-{{ comment.id }}" title="Permalink to this comment">Permalink</a></div>
							<p>{{ comment.text }}</p>
						</li>
{% endfor %}
					</ol>
				</div><!-- #comments-list .comments -->
{% endif %}
				
				<div id="respond">
					<h3>Post a Comment</h3>

					<div class="formcontainer">	
						<form id="commentform" action="" method="post">


							<p id="comment-notes">Your email is <em>never</em> published nor shared. Required fields are marked <span class="required">*</span></p>

							<div class="form-label"><label for="author">Name</label> <span class="required">*</span></div>
							<div class="form-input"><input id="author" name="author" type="text" value="" size="30" maxlength="20" tabindex="3" /></div>

							<div class="form-label"><label for="email">Email</label> <span class="required">*</span></div>
							<div class="form-input"><input id="email" name="email" type="text" value="" size="30" maxlength="50" tabindex="4" /></div>

							<div class="form-label"><label for="url">Website</label></div>
							<div class="form-input"><input id="url" name="url" type="text" value="" size="30" maxlength="50" tabindex="5" /></div>


							<div class="form-label"><label for="comment">Comment</label></div>

							<div class="form-textarea"><textarea id="comment" name="comment" cols="45" rows="8" tabindex="6"></textarea></div>

							<div class="form-submit"><input id="submit" name="submit" type="submit" value="Post Comment" tabindex="7" /><input type="hidden" name="comment_post_ID" value="1540" /></div>

							
						</form><!-- #commentform -->
					</div><!-- .formcontainer -->

				</div><!-- #respond -->

			</div><!-- #comments -->

				