{% extends "sandbox/base.html" %}

{% block body-css %}wordpress {% now "\yY \mm \dd \hH" %} single postid-{{ entry.id }} {{ entry.authored_on|date:"\s\-\yY \s\-\mm \s\-\dd \s\-\hH" }}{% endblock %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}

{% include "sandbox/nav_above.html" %}

			<div id="post-{{ entry.id }}" class="hentry p1 post publish {{ entry.authored_on|date:"\yY \mm \dd \hH" }}">
				<h2 class="entry-title">{{ entry.title }}</h2>
				<div class="entry-content"><p>
{{ entry.text|safe }}</p>
<p><span id="more-{{ entry.id }}"></span></p><p>
{{ entry.text_more|safe }}</p>
				</div>
				<div class="entry-meta">
					This entry was written by <span class="author vcard"><a class="url fn n" href="" title="View all posts by {{ entry.author.name }}">{{ entry.author.name }}</a></span> and posted on <abbr class="published" title="{{ entry.authored_on|date:"Y-m-d\TH:i:sO" }}">{{ entry.authored_on|date:"l jS \o\f F Y h:i:s A" }}</abbr> and filed under <a href="" title="View all posts in " rel="category tag"></a>,  <a href="" title="View all posts in " rel="category tag"></a>,  <a href="" title="View all posts in " rel="category tag"></a>,  <a href="" title="View all posts in " rel="category tag"></a>. Bookmark the <a href="http://demo.sndbx.org/archives/23" title="Permalink to A paginated post" rel="bookmark">permalink</a>. Follow any comments here with the <a href="" title="Comments RSS to A paginated post" rel="alternate" type="application/rss+xml">RSS feed for this post</a>.
					<a class="comment-link" href="#respond" title="Post a comment">Post a comment</a> or leave a trackback: <a class="trackback-link" href="" title="Trackback URL for your post" rel="trackback">Trackback URL</a>.
				</div>

			</div><!-- .post -->

{% include "sandbox/nav_below.html" %}

{% include "sandbox/comments.html" %}

{% endblock %}
